.section__contents {
    width: 100%;
    height: 100vh;
    background: #171836;
}
.section__bar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background: #171836;
    padding: 100px 100px 0;
    width: 80%;
}

.section__main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #171836;
}
.section__title {
    position: relative;
    width: 100%;
    
}
.section__title h3 {
    padding: 8px;
    color: rgba(255, 255, 255, 0.7);
}
.section__titles img {
    padding: 15px;
}
.section__lines {
    display: flex;
    justify-content: space-around;
   
}
.section__title p{
    width: 100%;
    font-size: 14px;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 70px;
    left: 2px;
    right: 0;
    bottom: 0;
    padding-left: px;
}